# macOS
.DS_Store
.AppleDouble
.LSOverride

# Package manager
node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Temp sources in local runner
.rollup.cache
tsconfig.tsbuildinfo
**/examples/**
!**/examples/**.css
!**/examples/example_*
!**/examples/favicon.ico
!**/examples/index.ts
!**/examples/index.html
!**/examples/index.js

# Next.js
.next

# Build files
dist



.nx/cache
.nx/workspace-data